typing-extensions >= 4.8.0
asgiref >= 3.7.2
sqlparse >= 0.4.4
brotli >= 1.1.0
django >= 5.0
mccabe >= 0.7.0
packaging >= 23.2
pycodestyle >= 2.11.1
pyflakes >= 3.1.0
coverage >= 7.4.0
dj-database-url >= 2.1.0
django-bootstrap5 >= 23.3
django-extensions >= 3.2.3
django-filter >= 23.5
flake8 >= 6.1.0
gunicorn >= 21.2.0
psycopg2-binary >= 2.9.9
python-dotenv >= 1.0.0
python-gettext >= 5.0
whitenoise >= 6.6.0
rollbar == 0.16.3
termcolor >= 2.4.0
