{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<h1 class="text-warning">{{ h1_value }}</h1>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="fieldWrapper mb-3">
    {% bootstrap_field field placeholder='' show_help=False %}
    {% if field.help_text %}
      <div class="form-text text-warning mb-3">
        {{ field.help_text|safe }}
      </div>
    {% endif %}
  </div>
  {% endfor %}
<input class="btn btn-outline-warning me-2" type="submit" value="{{ button_value }}">
</form>