{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate "Task manager. Training project of Hexlet course" %}</title>
  </head>
  <header class="p-3 bg-dark text-white fixed-top">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {% block link_main_page %}
            <li><a href="{% url 'main_page' %}" class="nav-link px-2 link-secondary text-white">{% translate "Task manager" %}</a></li>
          {% endblock link_main_page %}
          {% block link_users %}
            <li><a href="{% url 'users_index' %}" class="nav-link px-2 link-secondary text-white">{% translate "Users" %}</a></li>
          {% endblock link_users %}
          {% if login_user %}
            {% block link_statuses %}
              <li><a href="#" class="nav-link px-2 link-secondary text-white">{% translate "Statuses" %}</a></li>
            {% endblock link_statuses %}
            {% block link_tags %}
              <li><a href="#" class="nav-link px-2 link-secondary text-white">{% translate "Labels" %}</a></li>
            {% endblock link_tags %}
            {% block link_tasks %}
              <li><a href="#" class="nav-link px-2 link-secondary text-white">{% translate "Tasks" %}</a></li>
            {% endblock link_tasks %}
          {% endif %}
        </ul>
  
        {% block auth %}
          <div class="text-end align-middle">
            {% if not user.is_authenticated %}
              <a class="btn btn-outline-warning me-2" href="{% url 'login' %}">{% translate "Login" %}</a>
              <a class="btn btn-outline-warning me-2" href="{% url 'users_create' %}">{% translate "Register" %}</a>
            {% else %}
            <form action="/logout/" method="POST">
              {% csrf_token %}
              <input class="btn btn-outline-light me-2" type="submit" value="{% translate 'Logout' %}">
            </form>
            {% endif %}
          </div>
        {% endblock auth %}
     
      </div>
    </div>
  </header>
  <body class="bg-dark text-white">
    <div class="container-fluid p-5 my-5">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-light alert-dismissible fade show text-{{ message.tags }}" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </body>  
</html>