{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% translate "Task manager. Training project of Hexlet course" %}</title>
  </head>
  <header class="p-3 bg-dark text-white fixed-top">
    <div class="container-fluid">
        <ul class="nav justify-content-center col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
          {% block link_main_page %}
            <li class="nav-item"><a href="{% url 'main_page' %}" class="nav-link px-2 fs-5 link-warning text-white">{% translate "Task manager" %}</a></li>
          {% endblock link_main_page %}
          {% block link_users %}
            <li class="nav-item"><a href="{% url 'users_index' %}" class="nav-link px-2 fs-5 link-warning text-white">{% translate "Users" %}</a></li>
          {% endblock link_users %}
          {% if user.is_authenticated %}
            {% block link_statuses %}
              <li class="nav-item"><a href="{% url 'statuses_index' %}" class="nav-link px-2 fs-5 link-warning text-white">{% translate "Statuses" %}</a></li>
            {% endblock link_statuses %}
            {% block link_labels %}
              <li class="nav-item"><a href="{% url 'labels_index' %}" class="nav-link px-2 fs-5 link-warning text-white">{% translate "Labels" %}</a></li>
            {% endblock link_labels %}
            {% block link_tasks %}
              <li class="nav-item"><a href="{% url 'tasks_index' %}" class="nav-link px-2 fs-5 link-warning text-white">{% translate "Tasks" %}</a></li>
            {% endblock link_tasks %}
            <li class="nav-item align-end">
              <form action="/logout/" method="POST">
                {% csrf_token %}
                <input class="btn btn-outline-warning me-2 align-middle fs-5" type="submit" value="{% translate 'Logout' %}">
              </form>
            </li>
          {% else %}
            <li class="nav-item"><a class="btn btn-outline-warning me-2 fs-5" href="{% url 'login' %}">{% translate "Login" %}</a></li>
            <li class="nav-item"><a class="btn btn-outline-warning me-2 fs-5" href="{% url 'users_create' %}">{% translate "Registration" %}</a></li>
          {% endif %}
          
        </ul>
    </div>
  </header>
  <body class="bg-dark text-white">
    <div class="container-fluid p-5 my-5">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-light alert-dismissible fade show text-{{ message.tags }}" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
  </body>  
</html>