{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block link_main_page %}
  <li><a href="{% url 'main_page' %}" class="nav-link px-2 fs-5 link-secondary text-secondary">{% translate 'Task manager' %}</a></li>
{% endblock link_main_page %}

{% block content %}
<div class="container-lg">
  <div class="row">
    <div class="col bg-secondary">
    </div>
    <div class="col-8">
      <div class="text-center">
        <h2 class="text-warning">{% translate "About project" %}</h2>
        <p class="lh-sm">{% translate "Final training project: Task manager" %}</p>
        <p class="lh-sm">{% translate "Speciality: Python-developer" %}</p>
        <p>{% translate "Educational platform" %}: <a href="https://hexlet.io/" target="_blank" class="text-decoration-none badge bg-warning text-dark">{% translate "Hexlet. Practical programming courses" %}</a></p>
        <p class="lh-sm text-center">{% translate "The project strengthens skills, including" %}:</p>
      </div>
      <ul>
        <li>{% translate "Installing and configuring the Django backend framework, connecting the PostgreSQL database" %}</li>
        <li>{% translate "Use in maximum of Django's built-in classes (views, forms, models etc). Use inheritance and/or use of mixins to complicate the behavior of built-in classes" %}</li>
        <li>{% translate "Creating CRUD for some entities (individual application, model, form, view, template for each) with various relations between them (o2m, m2m) using Django ORM" %}</li>
        <li>{% translate "Different behavior of CRUD components depending on user authentication" %}</li>        
        <li>{% translate "Creating templates together with the bootstrap front-end framework" %}</li>
        <li>{% translate "Filtering output from the database by various criteria when displaying a list of entities" %}</li>
        <li>{% translate "Creating autotests, connecting an error logging service, deploying" %}</li>
      </ul>
      <div class="text-center">
      <p><a href="https://ru.hexlet.io/programs/python/projects/52" target="_blank" class="text-decoration-none badge bg-warning text-dark">Подробно о проекте от создателей курса</a></p>
      <h2 class="text-warning">{% translate "Project features"%}</h2>
      <p class="lh-sm">{% translate "Without login in, only the page with the output of all registered users is available" %}</p>
      <p class="lh-sm">{% translate "After registration and login, new tabs Statuses, Labels, Tasks open" %}</p>
      <p class="lh-sm">{% translate "These entities can only be created, modified and deleted by a logined user" %}</p>
      <p class="lh-sm">{% translate "The most interesting tab is Tasks. When creating a task, the status is used (selected from existing ones). It is noteworthy that both when creating and when changing a task, you can add labels and assign an executor (selected from existing ones)" %}</p>
      <p class="lh-sm">{% translate "On the tasks page there is a filter that displays tasks depending on the specified parameters (status, labels, executor, self creating)" %}</p>
      <p><a href="https://github.com/Homedog1983/python-project-52" target="_blank" class="text-decoration-none badge bg-warning text-dark">{% translate "Public GitHub of the project" %}</a></p>

      </div>
     </div>
    <div class="col bg-secondary">
    </div>
  </div>
{% endblock content %}