{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block link_main_page %}
  <li><a href="{% url 'main_page' %}" class="nav-link px-2 link-secondary text-secondary">{% translate "Task manager" %}</a></li>
{% endblock link_main_page %}

{% block content %}
    <p>О проекте:</p>
    <p>sdsd</p>
    <p>s d f g h j s s dw r tt sd sd as gts d wr a d qe ad t asd 5r asd 5 asd 5 asd 5 asd 5 asd 5 sdghsdgsd sdghsdgsd sdghsdgsd sdghsdgsd s d f g h j s s dw r tt sd sd as gts d wr a d qe ad t asd 5r asd 5 asd 5 asd 5 asd 5 asd 5 </p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
    <p>sdghsdgsd</p>
{% endblock content %}