{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
{% translate 'Login' as login %}
<h1 class="text-warning">{{ login }}</h1>

{% if form.errors %}
<p class="text-danger">{%translate 'Your username and password did not match. Please try again.' %}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper mb-3">
      {% bootstrap_field field show_help=False %}
    </div>
  {% endfor %}
  <input class="btn btn-outline-warning me-2" type="submit" value="{{ login }}">
</form>

{% endblock content %}